# Create table in PostgreSQL

In [1]:
# psycopg2 is used to connect to DB, run query: DDL,DML
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.5.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.3/384.3 kB 1.9 MB/s eta 0:00:00[36m0:00:01m eta 0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.5-cp39-cp39-linux_x86_64.whl size=166134 sha256=e5599cb81b9c63dff466df0f435e768c0fd42bed714efb603519e4eff2c3b143
  Stored in directory: /home/deba/.cache/pip/wheels/37/c1/ad/4ee49165718dff2c018c9830204ef8e749afdce7919f078586
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.5

In [2]:
import psycopg2

In [26]:
# Connect to DB
try:
    conn=psycopg2.connect("host=localhost dbname=postgres user=postgres password=root")
except psycopg2.Error as e:
    print('Connection not established!!')
    print(e)

In [10]:
# create cursor to execute queries
try:
    cur=conn.cursor()
except psycopg2.Error as e:
    print('Cursor not created!')
    print(e)

In [11]:
# set commit
conn.set_session(autocommit=True)

In [13]:
try:
    cur.execute('create database myfirstdb')
except psycopg2.Error as e:
    print('DB not created!')
    print(e)

DB not created!
database "myfirstdb" already exists

In [31]:
#close conntion and connect to my new DB
try:
    conn.close()
except psycopg2.Error as e:
    print(e)
#########################################
import psycopg2

try:
    conn=psycopg2.connect('host=localhost dbname=myfirstdb user=postgres password=root')
except psycopg2.Error as e:
    print('psycpog2.connect')
    print(e)
    
try:
    cur=conn.cursor()
except psycopg2.Error as e:
    print('conn.cursor')
    print(e)
    
conn.set_session(autocommit=True)

In [16]:
try:
    cur.execute('create table if not exists student (student_id int,name varchar,age int,gender varchar,subject varchar,marks int);')
except psycopg2.Error as e:
    print('create table')
    print(e)

In [18]:
try: 
    cur.execute("INSERT INTO student (student_id, name, age, gender, subject, marks) \
                 VALUES (%s, %s, %s, %s, %s, %s)", \
                 (1, "Raj", 23, "Male", "Python", 85))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO student (student_id, name, age, gender, subject, marks) \
                  VALUES (%s, %s, %s, %s, %s, %s)",
                  ( 2, "Priya", 22, "Female", "Python", 86))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [32]:
try:
    cur.execute('select * from student;')
except psycopg2.Error as e:
    print('select * from student;')
    print(e)

In [20]:
row=cur.fetchone()
while row:
    print(row)
    row=cur.fetchone()

(1, 'Raj', 23, 'Male', 'Python', 85)
(2, 'Priya', 22, 'Female', 'Python', 86)

In [29]:
cur.close()
conn.close()

In [ ]:
#2nd chapter

In [127]:
import psycopg2

In [128]:
def set_database(host,dbname,user,password):
    try:
        conn=psycopg2.connect(f'dbname={dbname} user={user} host={host} password={password}')
    except psycopg2.Error as e:
        print('Connection not established!!')
        print(e)
    
    try:
        cur=conn.cursor()
    except psycopg2.Error as e:
        print('Cursor not created!')
        print(e)
    
    print('Connection established!!')
    conn.set_session(autocommit=True)
    return cur, conn

In [129]:
host = input('Host: ')
dbname=input('DB_name: ')
user=input('user: ')
password=input('password: ')
cur,conn=set_database(host,dbname,user,password)

Host: localhost
DB_name: myfirstdb
user: postgres
password: root
Connection established!!

In [130]:
import pandas as pd

In [131]:
df=pd.read_csv(r'/home/deba/Downloads/P_Data_Extract_From_Wealth_Accounts/data.csv')

In [132]:
df.head()

,Country Name,Country Code,Series Name,Series Code,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,Albania,ALB,Human capital (constant 2018 US$),NW.HCA.TO,7.248767e+10,7.372787e+10,7.571698e+10,7.804556e+10,8.121498e+10
1,Albania,ALB,Human capital per capita (constant 2018 US$),NW.HCA.PC,2.509002e+04,2.559371e+04,2.632626e+04,2.716086e+04,2.833368e+04
2,Albania,ALB,"Human capital per capita, employed female (con...",NW.HCA.FEMP.PC,2.957420e+03,2.987545e+03,3.072504e+03,3.178417e+03,3.312927e+03
3,Albania,ALB,"Human capital per capita, employed male (const...",NW.HCA.MEMP.PC,1.699138e+04,1.730701e+04,1.781710e+04,1.844594e+04,1.924519e+04
4,Albania,ALB,"Human capital per capita, female (constant 201...",NW.HCA.FEMA.PC,3.719608e+03,3.767628e+03,3.872142e+03,3.992188e+03,4.161137e+03

In [133]:
w_acc_query=('''create table if not exists w_acc (Country_Name varchar , Country_Code varchar,Series_Name varchar,YR2014 varchar, YR2015 varchar)''')

In [134]:
cur.execute(w_acc_query)
conn.commit()

In [135]:
df_cut=df[['Country Name','Country Code','Series Name','2014 [YR2014]','2015 [YR2015]']]

In [136]:
df_cut.head()

,Country Name,Country Code,Series Name,2014 [YR2014],2015 [YR2015]
0,Albania,ALB,Human capital (constant 2018 US$),7.248767e+10,7.372787e+10
1,Albania,ALB,Human capital per capita (constant 2018 US$),2.509002e+04,2.559371e+04
2,Albania,ALB,"Human capital per capita, employed female (con...",2.957420e+03,2.987545e+03
3,Albania,ALB,"Human capital per capita, employed male (const...",1.699138e+04,1.730701e+04
4,Albania,ALB,"Human capital per capita, female (constant 201...",3.719608e+03,3.767628e+03

In [137]:
w_acc_insert=('''insert into w_acc values(%s, %s, %s, %s, %s)''')

In [138]:
for i, row in df_cut.iterrows():
    print(list(row))
    cur.execute(w_acc_insert,list(row))

['Albania', 'ALB', 'Human capital (constant 2018 US$)', 72487665593.7119, 73727868221.5645]
['Albania', 'ALB', 'Human capital per capita (constant 2018 US$)', 25090.0160027856, 25593.7068908403]
['Albania', 'ALB', 'Human capital per capita, employed female (constant 2018 US$)', 2957.42019542181, 2987.54454097286]
['Albania', 'ALB', 'Human capital per capita, employed male (constant 2018 US$)', 16991.3817485389, 17307.0124774391]
['Albania', 'ALB', 'Human capital per capita, female (constant 2018 US$)', 3719.6078360264, 3767.62790316731]
['Albania', 'ALB', 'Human capital per capita, male (constant 2018 US$)', 21370.4081667593, 21826.078987673]
['Albania', 'ALB', 'Human capital per capita, self-employed female (constant 2018 US$)', 762.187640604563, 780.083362194467]
['Albania', 'ALB', 'Human capital per capita, self-employed male (constant 2018 US$)', 4379.02641822031, 4519.06651023384]
['Albania', 'ALB', 'Human capital, employed female (constant 2018 US$)', 8544294516.27392, 8606228521.81413]
['Albania', 'ALB', 'Human capital, employed male (constant 2018 US$)', 49089868975.2308, 49856362764.7964]
['Albania', 'ALB', 'Human capital, female (constant 2018 US$)', 10746333877.4952, 10853417003.5378]
['Albania', 'ALB', 'Human capital, male (constant 2018 US$)', 61741331716.2168, 62874451218.0267]
['Albania', 'ALB', 'Human capital, self-employed female (constant 2018 US$)', 2202039361.22121, 2247188481.72369]
['Albania', 'ALB', 'Human capital, self-employed male (constant 2018 US$)', 12651462740.986, 13018088453.2302]
['Albania', 'ALB', 'Natural capital (constant 2018 US$)', 22581942865.5316, 25229850088.2279]
['Albania', 'ALB', 'Natural capital per capita (constant 2018 US$)', 7816.24436694961, 8758.22675514551]
['Albania', 'ALB', 'Natural capital per capita, agricultural land (constant 2018 US$)', 4717.22528403578, 4876.61826101942]
['Albania', 'ALB', 'Natural capital per capita, agricultural land: cropland (constant 2018 US$)', 2042.14603721789, 2157.08245791201]
['Albania', 'ALB', 'Natural capital per capita, agricultural land: pastureland (constant 2018 US$)', 2675.07924681789, 2719.53580310741]
['Albania', 'ALB', 'Natural capital per capita, fisheries (constant 2018 US$)', 0.0, 2.17904154450862]
['Albania', 'ALB', 'Natural capital per capita, forests: ecosystem services (constant 2018 US$)', 942.813580617932, 964.400874937426]
['Albania', 'ALB', 'Natural capital per capita, forests: timber (constant 2018 US$)', 173.975394218363, 204.642855625162]
['Albania', 'ALB', 'Natural capital per capita, fossil fuels (constant 2018 US$)', 1666.68006897186, 1762.90893279011]
['Albania', 'ALB', 'Natural capital per capita, mangroves (constant 2018 US$)', 0.0, 0.0]
['Albania', 'ALB', 'Natural capital per capita, nonrenewable assets (constant 2018 US$)', 1794.10620056593, 1880.41560224048]
['Albania', 'ALB', 'Natural capital per capita, nonrenewable assets: coal (constant 2018 US$)', 0.49127802010349, 1.61178885567901]
['Albania', 'ALB', 'Natural capital per capita, nonrenewable assets: gas (constant 2018 US$)', 11.3843821163193, 14.0581781776441]
['Albania', 'ALB', 'Natural capital per capita, nonrenewable assets: minerals (constant 2018 US$)', 127.426131594074, 117.506669450366]
['Albania', 'ALB', 'Natural capital per capita, nonrenewable assets: oil (constant 2018 US$)', 1654.80440883543, 1747.23896575679]
['Albania', 'ALB', 'Natural capital per capita, protected areas (constant 2018 US$)', 188.123907511604, 829.970119778517]
['Albania', 'ALB', 'Natural capital per capita, renewable (constant 2018 US$)', 6022.13816638368, 6877.81115290503]
['Albania', 'ALB', 'Natural capital, agricultural land (constant 2018 US$)', 13628554437.0089, 14048088854.3734]
['Albania', 'ALB', 'Natural capital, agricultural land: cropland (constant 2018 US$)', 5899972284.71036, 6213913907.75451]
['Albania', 'ALB', 'Natural capital, agricultural land: pastureland (constant 2018 US$)', 7728582152.29856, 7834174946.61891]
['Albania', 'ALB', 'Natural capital, fisheries (constant 2018 US$)', 0.0, 6277171.51439062]
['Albania', 'ALB', 'Natural capital, forests: ecosystem services (constant 2018 US$)', 2723886487.01759, 2778152493.63487]
['Albania', 'ALB', 'Natural capital, forests: timber (constant 2018 US$)', 502633007.33785, 589515288.127971]
['Albania', 'ALB', 'Natural capital, fossil fuels (constant 2018 US$)', 4815212053.98687, 5078417051.41528]
['Albania', 'ALB', 'Natural capital, mangroves (constant 2018 US$)', 0.0, 0.0]
['Albania', 'ALB', 'Natural capital, nonrenewable assets (constant 2018 US$)', 5183359400.47983, 5416918866.62096]

In [139]:
list(row)

['Albania',
 'ALB',
 'Natural capital, nonrenewable assets (constant 2018 US$)',
 5183359400.47983,
 5416918866.62096]

In [125]:
conn.commit()

In [126]:
conn.close()
cur.close()